{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ page.title }} - {% endblock %}


{% block main %}


    <div class="row titlerow">
        <div class="col-md-12">
            <h1 class="pagetitle">{{page.title}}</h1>
        </div>
    </div>


     <div class="row bodyrow">
        <div class="col-md-8">
           {{page.body|safe}}
        </div>
         <div class="col-md-4">
            <h3>{% trans "Related Pages" %}</h3>
            <ul class="linkedpages">
             {% for linked_page in linked_pages %}
                    <li><a href="{% url 'page_detail' linked_page.url %}">
                        {{linked_page.title}}
                    </a></li>
             {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}

