*.pyc
*.db
syrianarchive/settings.py
media/files/*
static-collected/*
syrianarchive/wsgi.py
.sass-cache
.DS_Store
/media/avatars/*
whoosh_index
.idea
media
django-summernote
venv/*
mydatabase
manage.py
