{% extends "base.html" %}

{% block breadcrumb %}
	{{ block.super }}
	| <a class="breadcrumb" href = "/time"> TimeTracker </a>
{% endblock %}

{% block main %}

<div class="row">
	<div class="col-md-12">
		<h1 class="pagetitle">Timetracker</h1>
	</div>
</div>



{% include "timetrack/tracker/entry_form.html" %}    


<hr>


<div class="row">
	<div class="col-md-8">
		<h3>Just Added:</h3>
	</div>
</div>


<div class="row" id="entries">
	

	{% include "timetrack/tracker/entries_list.html" %}    
</div>
<hr>










{% endblock %}

<input value="02-16-2012">

{% block javascripts %}

<link href="/static/timetracker/datepicker/css/datepicker3.css" rel="stylesheet" media="screen">
<script src="/static/timetracker/datepicker/js/bootstrap-datepicker.js"></script>

<link href="/static/timetracker/tracktime.css" rel="stylesheet" media="screen">
<script src="/static/timetracker/tracktime.js"></script>




{% endblock %}

