{% extends "profiles/index.html" %}


{% block breadcrumb %}
	{{ block.super }}
	| <a class="breadcrumb" href = "/accounts/{{profile_id}}"> {{ profile.display_name }} </a>
	| <a class="breadcrumb" href = "/accounts/edit"> Edit </a>
{% endblock %}

{% block main %}

<div class="row">
	<div class="col-md-12">
		<h1 class="pagetitle">{{ profile.display_name }} | Edit</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form enctype="multipart/form-data" action="/accounts/edit/" method="post">
		     {% for field in form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}: {{ field }}
		        </div>
		    {% endfor %}
		<input type="submit" value="Save Person" class="button" />
		{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}