
{% extends "profiles/index.html" %}

{% block breadcrumb %}
	{{ block.super }}
	| <a class="breadcrumb" href = "/accounts/{{ profile.id }}"> {{ profile.display_name }} </a>
	| <a class="breadcrumb" href = "/accounts/{{ profile.id }}/timedistribution"> Time Distribution </a>
{% endblock %}


{% block main %}

<div class="row">
	<div class="col-md-12">
		<h1 class="pagetitle">{{ profile.display_name }} | Time Distribution </h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">

	<hr>
		<h4>
		From 
		  	<div id="startdate" class="datepicker realdate date datepicker" style="display:inline">
            	<input  name="startofrange" id="startofrange" value="{{ startrange }}">
            	<span class="add-on"></span>
        	</div>
		to 
			<div id="enddate" class="datepicker realdate date datepicker" style="display:inline">
            	<input name="endofrrange" id="endofrrange" value="{{ endrange }}">
            	<span class="add-on"></span>
        	</div>
		<a href='#' class= 'button' id='submitdates'>Go</a>
		</h4>
	<hr>

	<h2>
	<strong>{{totaldays}}</strong> Days Worked, <strong>{{ untrackedhours }}</strong> untracked hours on current contract
	</h2>

    <hr>
			


	</div>
</div>

<div class="row">

	<div class="col-md-6">
		<h3 class='pagetitle'>Project Overview:</h3>
		{% for project in projects %}
		{% if project.hours > 0 %}
			<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;{% if project.color %}background-color:{{project.color}}{% endif %}">
				      <strong>{{project.percent}}%</strong> ({{ project.hours }}hrs) 
				  </div>
				  {{ project.name }}
			</div>
		{% endif %}
		{% endfor %}
	</div>

	<div class="col-md-6">
		<h3 class= 'pagetitle'>Activities:</h3>


		{% for project in projects %}
		<div class="projectbox">

			{% if project.hours > 0 %}
				<h5 style="border-top:2px solid {{project.color}};"><strong>{{ project.name }}</strong></h5>
			{% endif %}

			{% for activity in project.activitieslist %}
			{% if activity.hours > 0 %}
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{activity.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{activity.percent}}%;background-color:{{project.color}};">
						 <strong>{{ activity.percent }}%</strong> ({{ activity.hours }}hrs)
					</div>
					{{ activity.name }}
				</div>
			{% endif %}
			{% endfor %}
		</div>
		<hr>
		{% endfor %}


	</div>


</div>



<hr>





<hr>

Full Breakdown:
<ul>
{% for project in projects %}
	<li>{{ project.name }} | {{ project.hours }} hours | {{project.percent}}%</li>
	<ul>
	{% for activity in project.activitieslist %}
		<li>{{ activity.name }} | {{ activity.hours }} hours | {{ activity.percent }}%</li>
	{% endfor %}
	</ul>
{% endfor %}
</ul>

{% endblock %}


{% block javascripts %}

<link href="/static/timetracker/datepicker/css/datepicker3.css" rel="stylesheet" media="screen">
<script src="/static/timetracker/datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
(function($){
	  $(document).ready(function(){
		$('.datepicker').datepicker({
	          format: 'dd MM yyyy',
	          autoclose : true,
	          todayBtn: true,
	          closeBtn: true,
	          weekStart: 1,
	      });

		$('#submitdates').click(function(){
			var sdate = ($('#startdate').datepicker('getDate'));
			var edate = ($('#enddate').datepicker('getDate'));
			var sdatestr = sdate.getFullYear() + '-' + (sdate.getMonth()+1) + '-'+ sdate.getDate();
			var edatestr = edate.getFullYear() + '-' + (edate.getMonth()+1) + '-'+ edate.getDate();

			/*
			console.log(sdate);
			console.log(edate);
			console.log(sdatestr);
			console.log(edatestr);
			console.log(sdatestr+'/'+edatestr);
			*/

			window.location.href = '/accounts/' + {{ profile.id }} + '/timedistribution/' + sdatestr + '/' + edatestr;
		});
	});
}(jQuery));
</script>

{% endblock %}