{% extends "homepage/index.html" %}


{% block breadcrumb %}
	{{ block.super }}
	| <a class="breadcrumb" href = "/home/add_link"> Add Link</a>
{% endblock %}

{% block main %}

<div class="row">
	<div class="col-md-12">
		<h1 class="pagetitle">Add Link</h1>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" action="/home/add_link" method="post" class="linear">
             {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                </div>
            {% endfor %}
        <input type="submit" value="Add Link" class="button" />
        {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}