{% extends "base.html" %}

{% block breadcrumb %}
	{{ block.super }}
{% endblock %}

{% block main %}

<div class="container">


	<hr>


	<div class="row">
		<div class="col-md-8">
			
			{% for announcement in announcements %}
				<div class="announcement" >
				{% if lang == 'ar' %}
					<h2>{{ announcement.arabic_name|safe }}</h2>
					{{ announcement.arabic_description|safe }}
				{% else %}
					<h2>{{ announcement.name|safe }}</h2>
					{{ announcement.description|safe }}
				{% endif %}
				</div>
			{% endfor %}
			
		</div>

		<div class="col-md-4">
			<h3>Links</h3>
			{% for link in links %}
				<hr>
				<a href="{{ link.link }}" target='_blank'>
				<div class="resource">
						
						<h4>{{ link.name }}</h4>
						{{ link.description }}
				</div>
				</a>


			{% endfor %}
			<hr>
		</div>
	</div>

</div>












{% endblock %}