{% extends "base.html" %}

{% load i18n %}

{% block breadcrumb %}
	{{ block.super }}
{% endblock %}

{% block logo %}
{% endblock %}

{% block main %}




	<div class=" backrow">
	</div>

	<div class=" frontrow">
		   
	</div>

	<div class= "row controe tintedrow">
		 <div class="col-md-3 homecol">
		</div>
		<div class="col-md-6 homecol">

            <h1>
                <div class="textlogo">
                    {% ifequal LANGUAGE_CODE 'en' %}
                        <span class="charwrapper char-s char-1">S</span><span class="charwrapper char-y char-2">y</span><span class="charwrapper char-r char-3">r</span><span class="charwrapper char-i char-4">i</span><span class="charwrapper char-a char-5">a</span><span class="charwrapper char-n char-6">n</span>
                        <br>
                        <span class="charwrapper char-A char-7">A</span><span class="charwrapper char-r char-8">r</span><span class="charwrapper char-c char-9">c</span><span class="charwrapper char-h char-10">h</span><span class="charwrapper char-i char-11">i</span><span class="charwrapper char-v char-12">v</span><span class="charwrapper char-e char-13">e</span>
                    {% else %}

                        {% trans "Syrian Archive" %}
                    {% endifequal %}
                    

                </div>
             </h1>
			<p>{% trans "Preserving open source documentation of human rights violations in Syria." %}</p>
		</div>

		<div class="col-md-3 homecol">
			<a class="blocklink" href="/p/page/about">{% trans "About" %}</a> <br>
			<a class="blocklink" href="/database">{% trans "Database" %}</a> <br>
			<a class="blocklink" href="/media">{% trans "Media" %}</a> <br>
			<a class="blocklink" href="/blog">{% trans "Blog" %}</a> <br>
		</div>
	</div>

	<div class="row tintedrow darkerrow">
			 <div class="col-md-6 homecol sectionscol">

				{% for section in sections %}
                <div class="section-front">
					<h1>{{ section.name }}</h1>
					{{ section.description|safe }}
                </div>
				{% endfor %}

			</div>


			 <div class="col-md-6 righthomecol">

				
					<h1>{% trans "Recent Entries" %}</h1>
				
			</div>
		
		

	</div>
	
	












{% endblock %}