
.container.jumbo{
    min-height:95%;
}



.aboutrow, .collaboratorrow{
  font-size: 1.4em;
}

.section-front h2, .collaboratorrow h2{
    font-size: 2em;
    font-weight: bold;
}


.textlogo {
line-height: .8em;
font-family: 'Droid Sans', Sans;
}
span.charwrapper, .textlogo {
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.char-10 {
margin-left: -.06em;
}
.char-8 {
margin-right: -.1em;
}
.char-7 {
margin-left: .1em;
}
.char-13 {
margin-left: -.05em;
}




.tintedrow{
        position: relative;
            color:white;
}

.tintedrow h1{
    color:white;
}

.aboutrow{
    background-color:#222;
    color:white;
    position: relative;
    background-image: url(/static/img/climbing.png);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3), 0px -5px 5px rgba(0,0,0,.3);
    border-top: 1px solid black;
    -webkit-transform: translateZ(0);
}

.sectionscol {
  background-color: rgba(0,0,0,.4);
    padding-bottom:2em;

}

.container.main{
    -webkit-transform: translateZ(0);

}
.controe{
    font-size:2em;
    font-weight:bold;
    padding-top:10%;
    height:100%;
}


.collaboratorrow{
    background-color:#e3e3e3;
    position: relative;
        padding-bottom:2em;
    padding-top:2em;

    background-image: url(/static/img/holding.png);
    background-attachment: fixed;
    background-size: cover;
}








.controe h1{
    color: white;
    font-size: 5em;
    line-height: .8em;

}

.footer{
    background-color:#eee;
    font-weight: bold;
    position: relative;
}


.righthomecol{
    padding-top:10%;
    text-align: right;

}

.righthomecol a h4{
    color:white;
}


a.blocklink{
    background-color: black;
    color:white;
}






.tintrow{
height:100%;
    min-height: 800px;
    background-color:rgba(0,0,0,.3);
    background-size: cover;
    position:fixed;
    width: 100%;
    margin-left: -1em;
    margin-right: -1em;
}

.backrow{
    height:100%;
    min-height: 800px;
    background-color:black;
    background-image: url('/static/img/after.png');
    background-size: cover;
    position:fixed;
    width: 100%;
    margin-left: -1em;
    margin-right: -1em;
}

.frontrow{
    height:100%;
    min-height: 800px;
    background-color:black;
    background-image: url('/static/img/before.png');
    background-size: cover;
    animation-name: backchange;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;

    -webkit-animation-name: backchange;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    -webkit-animation-direction: alternate;

    position:fixed;
    width:100%;

        margin-left: -1em;
    margin-right: -1em;

}



@keyframes backchange{
     0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

@-webkit-keyframes backchange{
     0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}
