
h1,h2,h3,h4,h5,h6{
    font-family: 'Droid Sans', Sans;

}

p{
	font-family: 'Droid Sans', Sans;
}

h1,h2,h3,h4,h5,h6,p{
    padding-left:1rem;
    padding-right:1rem;
    max-width:35em;
}

body{
	background-color:rgba(51, 51, 51, 0.05);
    font-size:17px;
}

.navbar-main{
	background-color:white;
    border-bottom:1px solid #aaa;
}

.database-table{
    font-size:.8em;
}

.dbtitle{}

thead, tfoot {
background-color: #555;
font-size: .8em;
color: white;
}

thead th, tfoot th{
    border-right:1px solid white;
}

tr.even {
background-color: whitesmoke;
}

div.navbar-collapse.collapse {
margin-left: -1em;
}

div#database_filter {
margin-right: 1em;
}


th i.fa{

    margin-left:0em;
    position:absolute;
    opacity:.3;
    font-size: 2em;
    color: orange;
}

.logo{
    margin-top: 50px;
}


.sidebar{
    min-height:800px;
        background-color: #DFDFDF;

}

.mainbar{
    background-color:#fdfdfd;
    min-height:800px;
    border-top:1px solid white;
    border-right:1px solid white;
    border-top:2px solid orange;
    padding-top:2em;
   
}

.mainrow{
      -webkit-box-shadow: 0 -8px 6px -6px rgba(0,0,0,.3);
     -moz-box-shadow:   0 -8px 6px -6px rgba(0,0,0,.3);
          box-shadow:   0 -8px 6px -6px rgba(0,0,0,.3);
        position:relative;
        z-index:20;

}

.logo{
    z-index:1;
    position:relative;
}

a{
    color:#cf4c0c;
}



.footer{
    background-color: #aaa;
}

.navbar{
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
     -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
          box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
}