
@font-face {
    font-family: 'goudy';
    src: url('webfonts/GoudyStM-webfont.eot');
    src: url('webfonts/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/GoudyStM-webfont.woff') format('woff'),
         url('webfonts/GoudyStM-webfont.ttf') format('truetype'),
         url('webfonts/GoudyStM-webfont.svg#fanwoodregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,p{
	font-family: 'goudy';
}

body{
	background-color:#ddd;
}

.navbar-main{
	background-color:white;
    border-bottom:1px solid #aaa;
}

.table{
    font-family:sans-serif;
}

.database-table{
    font-size:.8em;
}

.dbtitle{}

thead, tfoot {
background-color: #555
;
font-size: 1.2em;
color: white;
}

tr.even {
background-color: whitesmoke;
}

div.navbar-collapse.collapse {
margin-left: -1em;
}

div#database_filter {
margin-right: 1em;
}


th i.fa{

    margin-left:0em;
    position:absolute;
    opacity:.3;
    font-size: 2em;
    color: orange;
}