{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<title>{% block title %}{% endblock %} Syrian Archive </title>


<link rel="shortcut icon" type="image/jpg" href="{{STATIC_URL}}/favicon.ico"/>

<script src="/static/bootstrap/js/jquery.js"></script>

<!-- Bootstrap -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>


<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/components/fontawesome/css/font-awesome.css">


<!-- Select2 - magic beans.  including gere because its a heavy input/output site, and should be used everywhere -->
<script src="/static/components/select2.0/select2.js"></script>
<link href="/static/components/select2.0/select2.css" rel="stylesheet" media="screen">

<!-- notification system for the js app -->
<script src="/static/components/bootstrap-notify/js/bootstrap-notify.js"></script>
<link href="/static/components/bootstrap-notify/css/bootstrap-notify.css" rel="stylesheet" media="screen">

<!-- main app for site -->
<script src="/static/js/app.js"></script>


<link href="/static/css/main.css" rel="stylesheet" media="screen">
{% ifequal LANGUAGE_CODE 'en' %}

                    {% else %}
<link href="/static/css/main_rtl.css" rel="stylesheet" media="screen">
<link href="/static/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" media="screen">

                    {% endifequal %}

<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Montserrat' rel='stylesheet' type='text/css'>

{% block headscripts %}{% endblock %}

</head>
<body>


	<div class='notifications bottom-right'></div>

    <div class="navbar navbar-fixed-top navbar-main">
      <div class="navbar-inner">
        <div class="container ">
               		<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
               		MENU
					</button>

       	<div class="navbar-collapse collapse">



        	<ul class="nav navbar-nav">
		        <li><a href="/"><i class="fa fa-home"></i> {% trans "Home" %}</a></li>
		    </ul>

		    <ul class="nav navbar-nav">
		        <li><a href="/database"><i class="fa fa-database"></i> {% trans "Database" %}</a></li>
		    </ul>

		    <ul class="nav navbar-nav">
		        <li><a href="/media"><i class="fa fa-caret-square-o-right "></i> Media</a></li>
		    </ul>

 			<ul class="nav navbar-nav">
		        <li><a href="/p/about"><i class="fa fa-question"></i> About</a></li>
		    </ul>

            <ul class="nav navbar-nav">
                <li><a href="/blog"><i class="fa fa-list"></i> Blog</a></li>
            </ul>

		    <ul class="nav navbar-nav navbar-right">

				<form action="{% url 'set_language' %}" method="post">
				
					<input name="uhuh" type="hidden" />
			    	{% ifequal LANGUAGE_CODE 'en' %}
			    	<select name="language" style="display:none;">
			    		<option value="ar" selected="selected" type="hidden" >
				    		العربيّة (ar)
						</option>
					</select>
					<button  id="langswitcher"  type="submit" value="" >العربيّة (ar)</button>
					{% else %}
					<select name="language" style="display:none;">
						<option value="en" selected="selected" type="hidden" >
				    		English (en)
						</option>
					</select>
					<button id="langswitcher" type="submit" value="" >English (en)</button>
					{% endifequal %}
					{% csrf_token %}
				</form>


			</ul>

		   

      	</div>
 		</div>
      </div>
    </div>
{% block logo %}

<div class="logo">
<h1>Syrian Archive</h1>
</div>

<!--
	{% ifequal LANGUAGE_CODE 'en' %}
		<img class="logo" src="/static/img/syarch.png" width="100%" />
	{% else %}
		<img class="logo" src="/static/img/arabic.png" width="100%" />
	{% endifequal %}
-->
{% endblock %}

<div class="container">


		{% block main %}

		{% endblock %}


</div>
{% block javascripts %}{% endblock %}

</body>
</html>