{% extends "base.html" %}

{% load i18n %}


{% block main %}


	<div class="row titlerow">
		<div class="col-md-12">
			<h1 class="pagetitle">{% trans "Violation Database" %}</h1>
		</div>
	</div>

<!-- database filters-->

	<div class="row filterrow">
		<div class="col-md-12 filterwrapper">
		{% trans "Filter By" %}
			    <form id="filter" action="" method="get">
			       {{ filter.form.as_p }}
			        <input type="submit" value="Go"/>
			    </form>
		</div>
	</div>



	<div class="row database-table">
		<div class="profile">

			<table id="database" class="table table-striped " cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Description" %}</th>
					<th><i class="fa fa-calendar "></i>{% trans "Recording Date" %}</th>
					<th><i class="fa fa-map-marker "></i>{% trans "Location" %}</th>
					<th>{% trans "Type of Violation" %}</th>
					<th>{% trans "Thumbnail" %}</th>
				</tr>
				
			<thead>

			<tbody>
				{% for entry in entries %}


					<tr>

					<td>
						<a href="/database/{{entry.id}}" >{{entry.name}}</a>
					</td>
            		<td>
            			{{entry.description}}
            		</td>
            		<td>
            			{{entry.recording_date}}
            		</td>
            		<td>
            			<b>{% for loc in entry.location.all %}
            				{{ loc.name }}
            			{% endfor %}</b>
            			({{entry.location_latitude}}, {{entry.location_longitude}})
            		</td>

            		<td>
            			{% for ctype in entry.type_of_violation.all %}
            				{{ ctype.name }}
            			{% endfor %}
			</td>
            		<td>
            			Thumbnails to come
            		</td>
					
					</tr>
				{% endfor %}
			<tbody>
			</table>


        <div class="pagination">
            <span class="step-links">
                {% if entries.has_previous %}
                    <a href="?page={{ entries.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
                </span>

                {% if entries.has_next %}
                    <a href="?page={{ entries.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>


                



		</div>
	</div>

{% endblock %}


{% block javascripts %}

{% endblock %}