{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Violation Database" %} - {% endblock %}


{% block main %}


	<div class="row titlerow">
		<div class="col-md-12">
			<h1 class="pagetitle">{% trans "Violation Database" %}</h1>
		</div>
	</div>

<!-- TEST -->
 <div class="row filterrow">
 	<div class="col-md-12 filterwrapper">


		 <form method="get" action="/database">
		  {% csrf_token %}


		  {{ form.errors }}
{{ form.non_field_errors }}

		  <div class="row">

			  <div class="col-md-6">

			  {{ form.type_of_violation.label_tag }}
			  {{ form.type_of_violation }}

			  </div>

			  <div class="col-md-6">
			  {{form.location.label_tag}}
			  {{form.location}}
			  </div>
		  </div>
<!--

		 <div class="row">
		 	<div class="timewrap col-md-4">
				<span>{% trans "Date:" %}</span>
				<div id="fakedate" class="datepicker date input-append">
					<input type="text" name="date" id="fakedate" value="">
					<span class="add-on"><i class="icon-th"></i></span>
				</div>
				<div id="realdate" class="datepicker realdate date" >
					<input type="hidden" name="date" id="id_date" value="">
					<span class="add-on"></span>
				</div>
			</div>


			<div class="timewrap col-md-4">
				<span>{% trans "Start date:" %}</span>
				<div id="fakestartdate" class="datepicker date input-append">
					<input type="text" name="startdate" id="fakestartdate" value="">
					<span class="add-on"><i class="icon-th"></i></span>
				</div>
				<div id="realstartdate" class="datepicker realdate date" >
					<input type="hidden" name="startdate" id="id_startdate" value="">
					<span class="add-on"></span>
				</div>
			</div>

			<div class="timewrap col-md-4">
				<span>{% trans "End date:" %}</span>
				<div id="fakedate" class="datepicker date input-append">
					<input type="text" name="enddate" id="fakeenddate" value="">
					<span class="add-on"><i class="icon-th"></i></span>
				</div>
				<div id="realdate" class="datepicker realdate date" >
					<input type="hidden" name="enddate" id="id_date" value="">
					<span class="add-on"></span>
				</div>
			</div>
		</div>-->

		  <input type="submit" value="Filter!" />
		  <input type="reset" value="Reset Filter"/>
		  </form>
	</div>
</div>
<!-- database filters-->
<!--
	<div class="row filterrow">
		<div class="col-md-12 filterwrapper">
		{% trans "Filter By" %}
			    <form id="filter" action="" method="get">
			       {{ filter.form.as_p }}
			        <input type="submit" value="Go"/>
			    </form>
		</div>
	</div>-->


	<div class="row database-table">
		<div class="profile">

			<table id="database" class="table table-striped " cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Recording Date" %}</th>
					<th>{% trans "Location" %}</th>
					<th>{% trans "Type of Violation" %}</th>
					<th>{% trans "Video" %}</th>
				</tr>
				
			<thead>

			<tbody>
				{% for entry in entries %}


					<tr>

					<td>
						<a href="/database/{{entry.id}}" >{{entry.name}}</a>
					</td>
            		<td>
            			{{entry.description}}
            		</td>
            		<td>
            			{{entry.recording_date}}
            		</td>
            		<td>
            			<b>{% for loc in entry.location.all %}
            				{{ loc.name }}
            			{% endfor %}</b>
            			({{entry.location_latitude}}, {{entry.location_longitude}})
            		</td>

            		<td>
            			{% for ctype in entry.type_of_violation.all %}
            				{{ ctype.name }}
            			{% endfor %}
			</td>
            		<td>
            			Thumbnails to come
            		</td>
					
					</tr>
				{% endfor %}
			<tbody>
			</table>


        <div class="pagination">
            <span class="step-links">
                {% if entries.has_previous %}
                    <a href="?page={{ entries.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
                </span>

                {% if entries.has_next %}
                    <a href="?page={{ entries.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>


                



		</div>
	</div>

{% endblock %}


{% block javascripts %}

{% endblock %}