{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Violation Database" %} - {% endblock %}


{% block main %}


	<div class="row titlerow">
		<div class="col-md-12">
			<h1 class="pagetitle">{% trans "Violation Database" %}</h1>
		</div>
	</div>

<!-- TEST -->
 <div class="row filterrow">
 	<div class="col-md-12 filterwrapper">


		 <form method="get" action="/database">


		  {{ form.errors }}
			{{ form.non_field_errors }}

			{% trans "Type of Violation" %} {{ form.type_of_violation }}

			{% trans "Location" %} {{form.location}}

		  {% trans "Start Date" %} {{form.startDate}}

			{% trans "End Date" %} {{form.endDate}}


		  <input type="submit" value="{% trans 'Filter' %}" />
		  </form>
	</div>
</div>


	<div class="row database-table">
		<div class="profile">

			<table id="database" class="table table-striped " cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Recording Date" %}</th>
					<th>{% trans "Location" %}</th>
					<th>{% trans "Type of Violation" %}</th>
				</tr>

			<thead>

			<tbody>
				{% for entry in entries %}


					<tr>

					<td>
						<a href="/database/{{entry.id}}" >{{entry.name}}</a>
					</td>
            		<td>
            			{{entry.description}}
            		</td>
            		<td>
            			{{entry.recording_date}}
            		</td>
            		<td>
            			{{ entry.location }}
            		</td>

            		<td>
                  {{ entry.type_of_violation }}
			</td>


					</tr>
				{% endfor %}
			<tbody>
			</table>

		</div>
	</div>

{% endblock %}


{% block javascripts %}


<style type="text/css">
	input{
		background-color: white;
		color: black;
	}
</style>
<link href="/static/components/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" media="screen">
<script src="/static/components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>


<script type="text/javascript">
(function($){
	  $(document).ready(function(){
		$('.datepicker').datepicker({
	          format: 'dd M yyyy',
	          autoclose : true,
	          todayBtn: true,
	          closeBtn: true,
	          weekStart: 1,
	      });

	});

}(jQuery));
</script>

{% endblock %}