{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block javascripts %}
  {% leaflet_js %}
  {% leaflet_css %}

  <link rel="stylesheet" href="/static/components/leaflet_marker_cluster/MarkerCluster.css" />
  <link rel="stylesheet" href="/static/components/leaflet_marker_cluster/MarkerCluster.Default.css" />
  <script src="/static/components/leaflet_marker_cluster/leaflet.markercluster-src.js"></script>

  <style type="text/css">
    div#incidents {
        height: 500px;
    }
  </style>
{% endblock %}

{% block main %}

  <div class="row titlerow">
    <div class="col-md-12">
      <h1 class="pagetitle">{% trans "Incident Map" %}</h1>
    </div>
  </div>


    <script type="text/javascript">
      var collection = {{ qs_results|geojsonfeature|safe }};
      function map_init (map, options) {

            var dataurl = '{% url "incidents" %}';


            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {


                function onEachFeature(feature, layer) {
                  console.log("bind");
                  if (feature.properties && feature.properties.popupcontent) {
                    layer.bindPopup(feature.properties.popupcontent);
                  }
                }

                var markers = L.markerClusterGroup();
                // Add GeoJSON layer
                var points = L.geoJson(data, {onEachFeature: onEachFeature})

                markers.addLayer(points);
                map.addLayer(markers);
            });

        }

    </script>

  <div class="row maprow">

    {% leaflet_map "incidents" callback="window.map_init" %}

  </div>

{% endblock %}